html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}



@media (max-width: 599px) {
  html,
  body {
    line-height: 1;
    font-size: 10px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  html,
  body {
    line-height: 1.4;
    font-size: 14px;
  }
}